<div id="ficha">
    <div id="datos">
        <div class="componente"> Producto: {{producto?.producto}} </div>
        <div class="componente"> Localización: {{producto?.localizacion}} </div>
        <div class="componente"> Cantidad: {{producto?.cantidad}} 
            <button class="boton"(click)="incrementa()">+</button>
            <button class="boton" (click)="decrementa()">-</button>
        </div>
    </div>
    <div  id="borrado">
        <button mat-fab (click)="borrarProducto()"><mat-icon>delete</mat-icon></button>
    </div>
</div>
